 * {
     box-sizing: border-box;
     font-family: Montserrat;
     margin-top: 0;
 }

 body {
     margin: 0;
 }

 :root {
     --primary-color: #8D5CF6;
     --secondary-color: #252B42;
     --third-color: #737373;
     --fourth-color: #F3CD03;
     --color-sec-color: #FFF2F3;
     --banner-color: #F6F7FB;
     --form-color: #E6E6E6;
     --check-green-color: #2DC071;
     --card-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
     --new-color: #E77C40;

 }

 .add-sec {
     padding-bottom: 50px;
 }

 .container {
     max-width: 1063px;
     margin: auto;
     padding: 0px 15px;
 }

 .menu i .fa-solid {
     font-weight: 400;
 }

 .buttons-responsive {
     display: none;

     justify-content: center;
     flex-direction: column;
     padding: 10px;
     padding-top: 0px;
 }


 .color-cont {
     margin-bottom: 20px;
 }

 header {
     padding: 20px 0px;
     background-color: var(--banner-color);
 }

 h4 {
     max-width: 478px;
     font-size: 20px;
     font-weight: 400px;
 }

 h1 {
     font-size: 58px;
     font-weight: 700;
     color: #252B42;
 }

 h3 {
     color: #252B42;
     font-family: Montserrat;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: 32px;
     /* 133.333% */
     letter-spacing: 0.1px;
     margin: 0px;
 }

 .header-content {
     display: flex;
     align-items: center;
     /* gap: 40px; */
 }

 /* .header-cont{
    display: flex;
    gap: 50px;
} */

 header ul {
     display: flex;
     flex-direction: row;
     list-style-type: none;
     gap: 28px;
     margin-top: 15px;
 }

 .main {
     transition: all ease-in-out 0.7s;
 }

 nav {
     position: relative;
 }

 nav li {
     font-weight: 700;
     position: relative;
 }

 nav li a {
     color: var(--third-color);
     font-weight: 700;
     font-size: 14px;
     margin-top: 10px;
     text-decoration: none;

 }

 .drop-down li a {
     color: white;
     font-weight: 700;
     font-size: 14px;
     margin-top: 10px;
     text-decoration: none;

 }

 .buttons {
     display: flex;
     gap: 10px;
 }

 .btn {
     border-radius: 5px;
     color: var(--primary-color);
     padding: 15px 25px;
     background: none;
     border: 1px solid transparent;
     font-size: 14px;
     font-weight: 700;
     display: flex;
     align-items: center;
     gap: 10px;
     align-items: baseline;
 }

 .btn-fill {
     background-color: var(--primary-color);
     color: #FFF;
 }

 .btn-border {
     border-color: var(--primary-color);
 }

 nav {
     flex: 1;
 }

 .banner-section {
     background-color: var(--banner-color);
 }

 .ban-head-img-content {
     display: flex;
     flex: 1;
     flex-direction: column;
 }

 .ban-head-img-content h5 {
     font-size: 16px;
     color: var(--primary-color);
     font-weight: 700;
     font-family: Montserrat;
 }

 .ban-headline {
     font-size: 58px;
     font-style: normal;
     font-weight: 700;
 }

 .ban-subheadline {
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     color: var(--third-color);
     line-height: 30px;
     letter-spacing: 0.2px;
     padding-bottom: 25px;
 }

 .section {
     padding: 112px 0px;
 }

 .large-section {
     padding: 160px 0px 0px;
 }

 .ban-img {
     flex: 1;
 }

 .banner {
     max-width: 1322px;
 }

 .banner-content {
     display: flex;
     align-items: center;

 }

 .sub-heading {
     /* max-width: 691px; */
     padding-bottom: 112px;
 }

 /* .sub-heading h6{
        font-size: 38px;
    } */

 h6 {
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     color: var(--primary-color);

     margin-bottom: 10px;
 }

 h2 {
     font-size: 40px;
     margin-bottom: 15px;
     color: var(--second-text-color);
 }

 .ham-burg {
     display: none;
     font-size: 20px;
 }

 #check {
     display: none;
 }

 #click-btn {
     display: none;
 }

 #click-btn-pro {
     display: none;
 }


 .drop-down {
     /* top: 40px; */
     background-color: #8D5CF6;
     color: #e3dbdb;
     flex-direction: column;
     position: absolute;
     visibility: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     /* margin: -40px; */
     /* top: -50px; */

 }

 .drop-down {
     padding: 0;
     border-radius: 5px;
     min-width: 100px;
     font-size: 12px;
     gap: 5px;
 }

 .drop-down li {
     margin: 0;
     padding: 0;

     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
 }

 p {
     color: var(--third-color);
     max-width: 479px;
     font-family: Montserrat;
     font-size: 14px;
     font-style: normal;
     font-weight: 550;
     line-height: 20px;
     letter-spacing: 0.2px;
     margin: 0px;
 }

 .cards {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 19px;
 }

 .card {
     box-shadow: var(--card-shadow);
     padding: 35px 40px;
 }

 .card img {
     width: 100;
     margin: auto;
 }

 .cardinfo {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .card:hover {
     background-color: #8D5CF6;
     color: fff;
 }


 .card:hover .redline {
     background-color: fff;
 }

 .card:hover p {
     color: #FFF;
 }

 .card {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .cards h5 {
     max-width: 160px;
     font-style: normal;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .cards h5::after {
     content: '';
     width: 50px;
     height: 2px;
     display: flex;
     background-color: #E74040;
 }

 .cards h5::after:hover {
     background-color: #e3dbdb;
 }

 .cards:hover h5::after {
     background-color: #e3dbdb;
 }

 .img-sec {
     display: flex;
     gap: 110px;
 }

 .img-sec img {
     width: 100%;
 }

 .img-cont-description {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .img-cont-btns {
     display: flex;
     align-items: center;
 }

 .img-cont-description h2 {
     display: flex;
     flex-direction: column;
     gap: 20PX;
     font-size: 40px;
 }

 .img-cont-description h2::before {
     content: '';
     background-color: #E74040;
     width: 94px;
     height: 7px;
     display: flex;
 }

 .btn-non {
     padding: 15px 25px 15px 0px;
     align-items: baseline;
 }

 .video-sec {
     display: flex;
     gap: 110px;

 }

 .video-icon {
     position: absolute;
     width: 90px;
     height: 90px;
     background-color: #8D5CF6;
     top: calc(50% - 45px);
     left: calc(50% - 45px);
     padding: 36px 40px;
     border-radius: 50px;
 }

 .video-content-description {
     display: flex;
     justify-content: center;
     align-items: center;


 }

 .video-content-video {
     max-width: 513px;
     margin: 0px auto;
     position: relative;
 }

 .video-content-video img {
     border-radius: 30px;
     width: 100%;
 }

 .fa-play:before {
     content: "\f04b";
 }

 .video-icon i {
     font-size: 19px;
     color: #FFF;
 }

 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0px;
 }

 .sub-heading {
     display: flex;
     flex-direction: column;
     padding-bottom: 112px;
     margin: 0px;
     gap: 10px;
 }

 .products-block {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 15px;

 }

 .product-features {
     justify-content: center;
 }

 .product-cover {
     position: relative;
 }

 .tag-sale {
     position: absolute;
     color: white;
     background-color: #E74040;
     margin: 23px 0px 0px 23px;
     width: 51px;
     text-align: center;
     border-radius: 3px;
 }

 .product-icons {
     position: absolute;
     bottom: 24px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
 }

 .product-cover img {
     width: 100%;
 }

 .product-icons button {
     background-color: #fff;
     border-radius: 50%;
     border: none;
     height: 40px;
     width: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .product-icons button i {
     margin: 0;
 }

 .product-card-content {
     /* max-width: 232px; */
     padding: 25px 12px;
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .review-star {
     background-color: #26335D;
     color: white;
     border: none;
     border-radius: 20px;
     padding: 5px 4px;
 }

 .review-star i {
     color: #FFCE31;
 }

 .prod-crd-headln {
     background-color: white;
     /* padding-bottom: 10px; */
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .prod-crd-headln h6 {
     color: #8D5CF6;
     font-size: 12px;
     font-style: normal;
     font-weight: 700;
     margin: 0;
     max-width: 151px;
 }

 .product-card-content h5 {
     /* padding-bottom: 10px; */
     max-width: 131px;
 }

 .pro-tag {
     background-color: #fff;
 }

 .pro-tag h5 {
     color: #737373;
     /* padding: 16px 0px; */
     margin: 0;

 }

 .fa-download {
     margin-right: 5px;
 }

 .price-tag {
     background-color: #FFF;
     /* padding-bottom: 10px; */
 }

 .price-tag h4 {
     color: #BDBDBD;
     font-size: 16px;
     font-weight: 700;
 }

 .price-tag span {
     color: #FF7B52;
     font-size: 16px;
     font-weight: 700;
     margin-left: 5px;
 }

 .product-card-content .btn-border {
     border-radius: 37px;
     padding: 13px 20px;
 }

 .product-card:nth-child(4) {
     margin: 0;
 }

 .product-intro .large-section {
     margin-bottom: 80px;
 }

 .product-intro h2 {
     margin-top: 0px;
 }

 .products-offering-cards {
     background-color: #FFF;
     display: grid;
     column-gap: 22px;
     grid-template-columns: repeat(3, 1fr);
 }

 .product-off-card {
     box-shadow: var(--card-shadow);
     padding: 35px 49px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .prod-off-head {
     align-items: center;
     display: flex;
     flex-direction: column;
 }

 .product-off-card:hover p {
     color: #FFF;
 }

 .product-off-card:hover h5 {
     color: #FFF;
 }

 .product-off-card:hover h3 {
     color: #FFF;
 }

 .product-off-card:hover {
     background-color: #26335D;
 }

 .product-off-card:hover .product-rowline {

     color: fff;
     background-color: #26335D;
 }

 .product-off-card-icon {
     max-width: 90px;
     height: 90px;
     background-color: #8D5CF6;
     padding: 28px 29px;
     border-radius: 50px;
     text-align: center;
     margin: auto;
 }

 .new-pro-icon {
     max-width: 103px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 104px;
     position: absolute;
     background-color: var(--new-color);
     top: -52px;
     left: 242px;
     padding: 40px 17px;
     border-radius: 50%;
     color: #FFF;
     font-size: 24px;
 }

 .product-off-card-icon i {
     color: #fff;
     font-size: 33px;

 }

 .product-off-card h3 {
     font-size: 24px;
     font-weight: 700;
     margin: 18px 0px 0px 0px;
     padding-left: 2px;
 }

 .product-off-card h5 {
     margin: 0px 50px 30px 50px;
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     line-height: 24px;
     /* 171.429% */
     letter-spacing: 0.2px;
     color: #737373;
 }

 .product-off-card h2 {
     color: #8D5CF6;
     margin-bottom: 0px;
 }

 .product-off-card p {
     font-size: 14px;
     font-style: normal;

     text-align: center;
     font-weight: 600;
     line-height: 24px;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 206px;
     white-space: nowrap;
 }

 .product-off-card h6 {
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     color: #8EC2F2;
     margin-bottom: 35px;
 }

 .lengthy-btn {
     justify-content: center;
     width: 100%;
     max-width: 230px;
     margin: 22px 0px;
 }

 .product-rowline {
     margin: 15px 0px;
     display: flex;

 }

 .product-rowline-btn {
     /* padding: 10px 0px 0px 9px; */
     display: flex;
     justify-content: center;
     align-items: center;
     border: none;
     background-color: var(--check-green-color);
     border-radius: 50%;
     max-width: 32px;
     height: 32px;
 }

 .pdct-rowln-btn2 {
     background-color: #BDBDBD;
 }

 .product-rowline i {
     border: 0;
     color: #fff;
     padding-right: 5px;
     margin-left: 9px;
 }

 .product-rowline h5 {
     margin: 0px;
     padding: 4px 0px 0px 5px;
     max-width: 192px;
     font-size: 12px;
     color: var(--secondary-color);
     text-align: left;
 }

 .product-rowline-text h5:hover {
     color: white;
 }

 .testmonial-cards {
     padding-bottom: 80px;
     max-width: 1050px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .testmonial-card {
     display: flex;
     margin: auto;
     flex-direction: column;
     align-items: center;

 }

 .testmonial-card img {
     width: 100%;
     max-width: 128px;
     height: 128px;
     border-radius: 50%;
 }

 .testmonial-card p {
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     text-align: center;
     max-width: 320px;
 }

 .card-content {
     padding: 30px 57px 30px 58px;
     max-width: 458px;
     margin: auto;
 }

 .testmonial-star {
     max-width: 140px;
     margin: auto;
     padding: 15px 0px;
 }

 .testmonial-star i {
     color: var(--fourth-color);
     margin-right: 5px;
 }

 .testmonial-star:nth-child(5) {
     margin: 0px;
     width: auto;
 }

 .card-content h5 {
     font-size: 16px;
     font-style: normal;
     font-weight: 700;
     color: var(--secondary-color);
     padding-bottom: 5px;
     margin: 0px 0px;
 }

 .reviewers-details {
     text-align: center;
     max-width: 155px;
     margin: auto;
 }

 .card-content h6 {
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     color: var(--third-color);
     margin: 0px 0px;
 }

 .color-sec {
     background-color: var(--color-sec-color);
     padding: 160px 0px;
 }

 .color-sec .sub-heading {
     text-align: center;
     margin: auto;
 }

 .color-sec .sub-heading h3 {
     font-size: 40px;
     text-align: center;
     margin: 10px 0px;
 }

 .color-sec .sub-heading h6 {
     margin-bottom: 10px;
     text-align: center;
     width: auto;
 }

 .color-sec .sub-heading p {
     text-align: center;
     margin: auto;
 }

 form {
     display: flex;
     align-items: center;
     width: 100%;
     margin: 0 auto;
     max-width: 688px;
 }

 form input {
     display: flex;
     width: 100%;
     margin: auto;
     border-radius: 5px;
     padding: 15px 25px;
     height: 50px;
     border: 1px solid var(--form-color);


 }

 input {
     border: 1px solid var(--form-color);
     display: flex;
     border-radius: 6px;


 }

 .txt-btn {
     margin-left: -5px;
     border-radius: 0px 5px 5px 0px;
     padding: 17px 18px;
     border-color: #e3dbdb;
     font-size: 12px;
     font-weight: 300;
     height: 50px;
 }

 .small-section {
     padding: 50px 0px;
 }

 footer {
     margin: 20px 0px 0px 0px;
 }

 .footer-menu {
     margin-left: 7px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;

 }

 .footer-card h5 {
     font-size: 16px;
     font-style: normal;
     font-weight: 700;
     color: var(--secondary-color);
     margin-bottom: 10px;
 }

 .contact h6 {
     font-size: 14px;
     font-weight: 700px;
     color: #737373;
     min-width: 211px;
     margin: 0px 0px 5px 0px;
 }

 .fa-phone {
     font-size: 22px;
     color: var(--primary-color);
 }

 .fa-location-dot {
     font-size: 25px;
     color: var(--primary-color);
 }

 .fa-envelope {
     font-size: 22px;
     color: var(--primary-color);
 }

 .footer-card li {
     font-size: 14px;
     font-weight: 700;
     color: var(--third-color);
     margin-bottom: 10px;
     /* min-width: 150px; */
 }

 .footer-card ul {
     padding: 0;
 }

 .below-footer {
     padding: 25px 0px;
     background-color: #FAFAFA;
 }

 .testboxrow .testcol {
     color: var(--second-text-color, #737373);
     font-family: Montserrat;
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     text-align: center;
 }

 ul {
     list-style-type: none;
     text-decoration-style: none;
     letter-spacing: 0.1;
     line-height: 24px;
 }

 a {
     text-decoration: none;
 }

 .testboxrow .testcol2 {
     height: 24px;

 }

 .testcol2 i {
     padding-right: 5px;
     color: var(--primary-color);
 }

 form {
     margin-bottom: 25px;
 }

 .fa-solid {
     margin-right: 5px;
 }

 .fa-regular {
     margin-right: 5px;
 }

 .contact ul li {
     display: flex;
     flex-direction: row;
 }

 .testboxrow {
     display: flex;
     justify-content: space-between;
 }

 @media screen and (max-width:990px) {
     .products-offering-cards {
         grid-template-columns: 1fr;
         margin: auto;

     }

     .banner-section {
         padding-bottom: 50px;
     }

     .img-cont-description {
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .img-cont-description h2 {
         align-items: center;
         text-align: center;
     }

     .img-cont-description p {
         text-align: center;
     }

     .video-sec {
         display: block;
     }

     .ban-head-img-content {
         align-items: center;
     }

     .ban-head-img-content .ban-headline {
         align-items: center;
         text-align: center;
     }

     .ban-head-img-content .ban-subheadline {
         align-items: center;
         text-align: center;
     }

     .new-pro-icon {
         display: none;
     }

     .video-content-description {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .ban-img {
         display: none;
     }

     .products-block {
         grid-template-columns: repeat(2, 1fr);
     }

     .img-sec {
         flex-direction: column;
     }


     .sub-heading {
         align-items: center;
     }

     .sub-heading p {
         text-align: center;
     }

 }

 @media screen and (min-width:865px) {
     .menu:hover .drop-down {
         visibility: visible;
         transition: all ease-in-out 0.2s;
         margin: 0;

     }
 }

 @media screen and (max-width:865px) {
     .ham-burg {
         display: block;
     }

     .menu a {
         color: white;
     }

     .menu li a {
         color: white;
     }

     .main li a {
         color: white;
     }

     .ban-headline h1 {
         font-size: 30px;
     }


     header {
         position: sticky;
         top: 0;
         z-index: 2;
     }

     #click-btn:checked~.drop-down {
         visibility: visible;
         position: relative;
         transition: all ease-in-out 0.7s;
     }

     #click-btn-pro:checked~.drop-down {
         visibility: visible;
         position: relative;
     }

     header ul {
         display: flex;
         flex-direction: column;
         padding: 15px;
         padding-bottom: 0px;
         margin-bottom: 0;
     }

     .main {
         position: fixed;
         visibility: hidden;
         left: -100%;
         top: 97px;
         display: flex;
         flex-direction: column;
         width: 50%;
         height: 100%;
         overflow: auto;
         background-color: var(--secondary-color);
     }

     .header-content h3 {
         flex: 1;
     }

     .btn {
         padding: 15px 17px;
         margin: 5px 0;
     }

     #check:checked~.main {
         left: 0;
         visibility: visible;
         top: 97px;

     }

     /* nav{
        display:none;
    } */
     .header-content {
         justify-content: space-between;
     }

     .sub-heading p {
         text-align: center;
     }

     .cards {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
     }

     .card {
         display: flex;
     }

     .footer-menu {
         grid-template-columns: repeat(3, 1fr);
     }

     .sub-heading {
         align-items: center;
     }

 }

 @media screen and (max-width:650px) {
     .testmonial-cards {
         grid-template-columns: 1fr;
     }

     .buttons-responsive .fa-solid {
         padding-left: 5px;
     }

     /* .drop-down{
        transition: all ease-in-out 0.7s;
    } */
     .footer-card ul {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .contact {
         text-align: center;
     }

     .contact h6 {
         min-width: 0px;
     }

     .img-cont-description {
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .img-cont-description h2 {
         align-items: center;
         text-align: center;
     }

     .img-cont-description p {
         text-align: center;
     }

     .contact ul i {
         text-align: center;
     }

     .buttons-responsive {

         display: flex;
         align-items: center;
     }

     .buttons-responsive .unfill {
         display: flex;
     }

     .buttons-responsive .btn-fill {
         display: none;
     }

     header .unfill {
         display: none;
     }

     .btn-fill {
         border-radius: 5px;
         color: white;
         padding: 15px 25px;
         background-color: var(--primary-color);
         border: 1px solid transparent;
         font-size: 14px;
         font-weight: 700;
         display: flex;
         align-items: center;
         gap: 10px;
         align-items: baseline;
     }

     .footer-menu {
         grid-template-columns: 1fr;
     }

     /* .cards{
            grid-template-columns:1fr;
        } */
     .testboxrow {
         display: flex;
         flex-direction: column-reverse;
         justify-content: center;
         align-items: center;
     }
 }


 @media screen and (max-width:420px) {
     .main {
         width: 100%;
         height: calc(100vh - 60px);

     }

     .video-sec {
         justify-content: center;
         align-items: center;
     }

     .buttons-responsive .btn-fill {
         display: block;
     }

     .cards {
         grid-template-columns: 1fr;
     }

     .cardinfo {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 10px;
     }

     .cardinfo h5 {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .cardinfo p {
         text-align: center;
     }

     .products-block {
         grid-template-columns: 1fr;
     }

     .new-pro-icon {
         left: 190px;
     }

     header .btn-fill {
         display: none;
     }

     .header-content {
         padding: 15px 0px;
         align-items: center;
         justify-content: center;
         gap: 0;
     }

     .img-cont-description {
         gap: 16px;
     }

     .btn {
         padding: 10PX 20PX;
         max-width: 150px;
     }


     .btn-border {
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .ban-headline h1 {
         font-size: 30px;
     }

     .sub-heading {
         text-align: center;

     }


 }

 @media screen and (max-width:320px) {
     .sub-heading {
         text-align: center;
     }

     form {
         display: flex;
         flex-direction: column;
         gap: 10px;
     }

 }